<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Edit Page</title>
</head>
<body>

<h1>Edit Page</h1>
<form action="/posts/edit" method="post">
	<label name="postTitle">Title of Post</label>
	<input th:value="${postToEdit.getTitle()}" name="postTitle"> Hold info about post title

	<label name="postBody"></label>
	<input th:value="${postToEdit.getBody()}" name="postBody"> hold info about post body

	<input type="hidden" th:value="${postToEdit.getId()}">
	<input type="hidden" th:value="${userPost.getById()}">
	<button>Submit edit</button>
</form>


</body>
</html>